/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require pure
 */
 *{
 	box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-ms-box-sizing: border-box;
 	-o-box-sizing: border-box;
 }
/*@font-face {
  font-family: KettlBol;
  src: url(KettlBol);
  }*/
  .flash-error{
  	position: absolute;
  	top: 26%;
  	left: 3.6%;
  }
  a:link {
  	text-decoration: none;
  }

  a:visited {
  	text-decoration: none;
  }

  a:hover {
  	text-decoration: underline;
  }

  a:active {
  	text-decoration: underline;
  }

  a.nav_link{
  	color:rgb(254,215,53);
  }
  a.nav_link:visited{
  	color:rgb(254,215,53);
  }
  a#menu_logout:{
  	color:rgb(254,215,53);
  }

  a#menu_logout:visited{
  	color:rgb(254,215,53);
  }
  a#menu_logout:visited{
    color:rgb(254,215,53);
  }


  #logo {
  	position: relative;
  	height:100%;
  	width: 45%;
  	top:25%;
  	vertical-align: middle;
  	left:2%;
  	background-image:url("logo.svg");
  	/*	background-position: 50% 50%;*/
  	background-repeat: no-repeat;
  	background-size: 100%;
  }

  #title_bar {
  	position: absolute;
  	top:0%;
  	width: 100%;
  	height: 25%;
  	background-image:url("header.jpg");
  	background-repeat: no-repeat;
  	background-size: 100%; 
  }


  #menu_bar{
  	bottom:-20%;
  	position: absolute;
  	background-color: black;
  	width:100%;
  	height:20%;
  }
  .menu_items{
  	right:-45%;
  	position: relative;
  	margin: 3%;
  	display: inline;
  	bottom: 1.3em;
  }

  #menu_act_recipes{
  	padding: .8% .8% .9% .8%;
  	font-size: 1em;
  	font-weight: bold;
  	margin: 2%;
  	display: inline;
  	background-color: black;
  	border-radius: 12px 12px 0px 0px;

  }

  #menu_recipes{
  	padding: .8% .8% .9% .8%;
  	font-size: 1em;
  	font-weight: bold;
  	margin: 2%;
  	display: inline;
  	background-color: black;
  	border-radius: 12px 12px 0px 0px;

  }
  #menu_inv{
  	padding: .8% .8% .9% .8%;
  	font-size: 1em;
  	font-weight: bold;
  	margin: 2%;
  	display: inline;
  	background-color: black;
  	border-radius: 12px 12px 0px 0px;
  }
  #menu_logout{
  	padding: .8% .8% .9% .8%;
  	font-size: 1em;
  	font-weight: bold;
  	margin: 2%;
  	display: inline;
  	background-color: black;
  	border-radius: 12px 12px 0px 0px;
  }


  body  {
  	width: 100%;
  	height:100%;
  	position:fixed;
  	right:0%;
  	background-image: url("background.jpg");
  	background-repeat: no-repeat;
  	background-size: 100%;
  	z-index:-2;
  }
  
  #content{
  	font-family: Courier;
  	position:absolute;
  	height:70%;
  	width:43%;
  	left:3%;
  	top:30%;
  	z-index:-1;
  	background-color:rgba(223,223,223,.9) ;
  	overflow-y:scroll;
  	padding: 20px 10px 120px 10px

  }
  .ing-butts{
  	width: 70%;
  	position: relative;
  	right: -46%;
  	top: -2.55em;
  }

  #search-butt{
  	position: fixed;
  	right: 16%;
  	top: 57%;
  	width: 300px;
  	height: 120px;
  	font-size: 3em;
  }

  #all-inventory-div{
  	margin:0;
  	height:40px ;
  }

  .recipe-ingredients{
  	font-style: italic;
  }
  .avail-butt{
  	width:124px;
    border-style: none;
            border-radius: 6px;

  }
    #avail-butt{
    width:124px;
    border-style: none;
            border-radius: 6px;

  }
     .active-butt{
    border-style: none;
            border-radius: 6px;
  }
   .activate-butt{
    width:124px;
    border-style: none;
            border-radius: 6px;
  }
   .delete-butt{
    border-style: none;
    color: #D95C40;
            border-radius: 6px;
  }

  .dectivate-butt{
    width:124px;
    border-style: none;
            border-radius: 10px;
  }


  .checked-ingredient{
    width: 20px;
    height: 20px;
    top: 2px;
    position: absolute;
    right: 88px;
        border-style: none;

  }
  .inventory-title{
    font-size: 1.3em;
  }
  .search_pic{
  position: fixed;
  right: 12%;
  top: 45%;
  width: 400px;
  max-height:360px;
  border-radius: 25px;
  border: 9px solid rgba(223,223,223,.9);;
}
#greeting{
  position: absolute;
  right: 7%;
  top: 29%;
  font-size: 2.4em;
   -webkit-text-fill-color: white; 
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: rgba(103,103,103,.9);
   -webkit-font-smoothing:antialiased;
  z-index: -5
  }
