<!-- returning user sign-in -->
<div id= "content">
<h2>Log in here:</h2>
<form class="pure-form pure-form-aligned" method="POST" action="/session">
	<fieldset>
		<div class="pure-control-group">
			<label for="email">Email Address</label>
			<input name="email" type="email" placeholder="Email Address">
		</div>

		<div class="pure-control-group">
			<label for="password">Password</label>
			<input name="password" type="password" placeholder="Password">
		</div>

		<div class="pure-controls">
			<input name="authenticity_token" value="<%=form_authenticity_token()%>" type="hidden">
			<button type="submit" class="pure-button pure-button-primary">Submit</button>
		</div>
	</fieldset>
</form>

<!-- new user sign-up form -->
<h2>Sign up here:</h2>
<% if @user %>
	<% @user.errors.full_messages.each do |message| %>
		<p style="color: red"><%= message %></p>
	<% end %>		
<% end %>

<form class="pure-form pure-form-aligned" method="POST" action="/user">
	<fieldset>
		<div class="pure-control-group">
			<label for="name">Your Name</label>
			<input name="name" type="text" placeholder="Your Name">
		</div>

		<div class="pure-control-group">
			<label for="email">Email Address</label>
			<input name="email" type="email" placeholder="Email Address">
		</div>

		<div class="pure-control-group">
			<label for="password">Password</label>
			<input name="password" type="password" placeholder="Password">
		</div>

		<div class="pure-control-group">
			<label for="password_confirmation">Verify Password</label>
			<input name="password_confirmation" type="password" placeholder="Confirm Password">
		</div>


		<div class="pure-controls">
			<input name="authenticity_token" value="<%=form_authenticity_token()%>" type="hidden">
			<button type="submit" class="pure-button pure-button-primary">Submit</button>
		</div>
	</fieldset>
</form>
	</div>