<script>
	var thisUserId = <%= session[:user_id] %>
</script>
<!--picture area-->
<div id="sidebar"></div>

 <!-- template to add a new inventory item -->
<script type="text/template" id="create-inventory">
<div id="inventory-form">
  <h2>Add An Ingredient</h2>
  <%= text_field_tag :ingredient, nil, placeholder: "ingredient name" %>
  <%= select_tag :group, options_for_select([["Protein", "protein"],["Produce", "produce"],["Dairy", "dairy"],["Grain", "grain"]]) %>
  <%= button_tag "ADD", id: "add-inventory" %>
</div>
</script>

<!-- this is where view content will be appended -->
<div id="content"></div>

<script type="text/javascript">
	// getting rid of weird symbols in returned text
	// first changes the string to hexcode
	String.prototype.toUnicode = function(){
	    var result = "";
	    for(var i = 0; i < this.length; i++){
	        result += "\\u" + ("000" + this[i].charCodeAt(0).toString(16)).substr(-4);
	    }
	    return result;
	};
	// changed the hexcode back to human language
	function hex2a(hex) {
	    var str = '';
	    for (var i = 0; i < hex.length; i += 2) str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
	    return str;
	}
	// calling above functions, ridding of more weird symbols and replacing new line breaks
	String.prototype.nl2br = function() {
		var hex_coded = this.replace(/\r\n/g, "<<<").toUnicode();
    	return hex2a(hex_coded).replace(/[^\w\-\\\s\/\\.#'"%()<]/g, "").replace(/<<</g, "<br />");
	};
</script>

<!-- template for user's currently active recipe(s) -->
<script type="text/template" id="active-recipe"> 
	<div id="active-recipe-div">
		<img class="recipe-pic" src="">
		<h2 class="recipe-title"> {{=  recipe.name }}</h2>
		<p class="recipe-ingredients">{{= recipe.ingredients.nl2br() }}</p>



{{ if (recipe.active == true) { }} <button id={{=recipe.id}} class="dectivate-butt" style="background-color:rgb(254,215,53)"> Deactivate </button> {{ } else { }} <button id={{=recipe.id}} class="activate-butt" style="background-color:rgb(154,153,153)"> Inactive </button> 
		{{ }; }}

		<button class="delete-butt">Delete</button>

		<div id="update-ingredient">
		<h3>Ingredients Linked to Recipe: </h3> 
		{{ recipe.inventories.forEach(function(inventory){ }}
			<p>{{= inventory.ingredient }}</p>
		<button style="{{ if (inventory.avail == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}" class="avail-butt" id="{{= inventory.id }}">Used?</button>
		{{ }) }}
	</div>
</script>

<!-- template for recipe search results -->
<script type="text/template" id="recipe-result">
	<div id="recipe-result-div">
		<h2 class="recipe-name">{{= recipe.name }}</h2>
		<p class="recipe-ingredients">{{= recipe.ingredients.nl2br() }}</p>
		<button class="read-more" id="instructions-{{= recipe.id }}">See Cooking Instructions</button>
		<p style="display: none" class="recipe-instructions">{{= recipe.instructions }}</p>
		<input type="hidden" class="user_id" value="{{= recipe.user_id }}">
		<input type="hidden" class="inventories_ids" value="{{= recipe.inventories_ids }}">
		<button class="save-button" id="{{= recipe.id }}">Save</button>
	</div>	 
</script>

<!-- template for all of user's saved recipes -->
<script type="text/template" id="each-recipe">
	<div id="all-recipes-div">
		<h2><a href="#recipe/{{= recipe.id }}" class="recipe-title"> {{= recipe.name }}</a></h2>
		<p class="recipe-ingredients">{{= recipe.ingredients.nl2br() }}</p>

		{{ if (recipe.active == true) { }} <button id={{=recipe.id}} class="activate-butt" style="background-color:rgb(254,215,53)"> Active </button> {{ } else { }} <button id={{=recipe.id}} class="activate-butt" style="background-color:rgb(154,153,153)"> Inactive </button> 
		{{ }; }}

		<button class="delete-butt">Delete</button>
	</div>
</script>

<!--shows clicked recipe-->
<script type="text/template" id="show-recipe">
	<div id="all-recipes-div">
		<h2>{{= recipe.name }}</a></h2>	
		<p class="recipe-ingredients">{{= recipe.ingredients.nl2br() }}</p>
		<p class="recipe-instructions">{{= recipe.instructions }}</p>
		<button class="activate-butt" style="{{ if (recipe.active == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}">Activate</button>
		<button class="delete-butt">Delete</button>
		<h2> From your inventory: </h2>
			{{ recipe.inventories.forEach(function(inventory) { }}
				<div class="invent-item"> 
				<h3 class= "invent-name">{{= inventory.ingredient }}</h3>
				<button id="{{= inventory.id }}" class="avail-butt" style="{{ if (inventory.avail == true){ }} background-color: rgb(254,215,53) {{ } else { }} background-color: rgb(154,153,153) {{ } }}"> Available</button>

			{{ }); }}
	</div>
</script>

<!-- shows clicked on inventory item -->
<script type="text/template" id="show-inventory">
	<h1>{{= inventory.ingredient }}</h1>
	<button id="avail-butt" style="{{ if (inventory.avail == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}">{{ if (inventory.avail == true){ }} Available {{ } else { }} Unavailable {{ } }}</button>
		<button class="delete-butt">Delete</button>
		<h2> Linked to these recipes: </h2>
		<div class="recipes-itemized"> 
			{{ inventory.recipes.forEach(function(recipe) { }}
				<h3 class="recipe-name">{{= recipe.name }}</h3>
				<button id="{{= recipe.id }}" class="active-butt" style="{{ if (recipe.active == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}">Activate Recipe</button>
			{{ }); }}
		</div>
</script>

<!-- template for each inventory item on the inventory index page -->
<script type="text/template" id="each-inventory">
<div id="all-inventory-div">
	<a href="#inventory/{{=inventory.id}}" class="inventory-title">{{=inventory.ingredient}}</a>
	<ul class="ing-butts">
	
	{{ if (inventory.avail === true){ }} 
	<button id = "{{= inventory.id }}" class="avail-butt" style="background-color:rgb(254,215,53)"> Available</button>{{ } else { }} <button id = "{{= inventory.id }}" class="avail-butt" style="background-color:rgb(154,153,153)"> Unavailable </button> {{ }; }}

	<button class="delete-butt">Delete</button>
	<input type="hidden" id="hidden-userId" value="{{= inventory.user_id }}">
	<input type="checkbox" name="ingredients" id="{{= inventory.id }}" class="checked-ingredient" value="{{= inventory.ingredient }}"></ul>
</script>


