

<div id="content"></div>

<script type="text/template" id="active-recipe"> 
	<div id="active-recipe-div">
		<img class="recipe-pic" src="{{= recipe.image}}">
		<h2 class="recipe-title"> {{=  recipe.name }}</h2>

		<div id="update-ingredient">
		<h3> Click Used Ingredients: </h3> 
		{{ recipe.inventories.forEach(function(inventory){ }}
			<p>{{= inventory.ingredient }}</p>
		<button style="{{ if (inventory.avail == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}" class="activate-butt">Used?</button>
		{{ }) }}
	</div>
</script>

<script type="text/template" id="recipe-result">
<h1>HOW DOES THIS SOUND...</h1>
	<div id="recipe-result-div">
		<h2 class="recipe-name">{{= recipe.name }}</h2>
		<p class="recipe-ingredients">{{=recipe.ingredients}}</p>
		<button class="save-button" id="{{= recipe.id }}">Save</button>
	</div>
</script>

<script type="text/template" id="each-recipe">
<h1>HOW ABOUT SOME...</h1>
	<div id="all-recipes-div">
		<h2><a href="#recipe/{{=recipe.id}}" class="recipe-title"> {{= recipe.name }}</a></h2>
		<p class="recipe-ingredients">{{=recipe.ingredients}}</p>
		<button id="{{= recipe.id }}" class="activate-butt" style="{{ if (recipe.active == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}">Activate</button>
		<button class="delete-butt">Delete</button>
	</div>
</script>

<!--show clicked on recipe-->
<script type="text/template" id="show-recipe">
<h1>This looks good, right?</h1>
	<div id="all-recipes-div">
		<h2>{{= recipe.name }}</a></h2>	
		<p class="recipe-ingredients">{{=recipe.ingredients}}</p>
		<p class="recipe-instructions">{{=recipe.instructions}}</p>
		<button id="{{= recipe.id }}" class="activate-butt" style="{{ if (recipe.active == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}">Activate</button>
		<button class="delete-butt">Delete</button>
		<h2> From your inventory: </h2>
			{{ recipe.inventories.forEach(function(inventory) { }}
				<div class="invent-item"> 
				<h3 class= "invent-name">{{= inventory.ingredient }}
				<button id="{{= inventory.id }}" class="used" style="{{ if (inventory.avail == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}"> ALL GONE </button></h3>
			{{ }); }}
	</div>
</script>

<script type="text/template" id="show-inventory">
	
		{{= inventory.ingredient }}
		hello
		<button id="avail-butt" style="{{ if (inventory.avail == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}">Available?</button>
		<button class="delete-butt">Delete</button>
		<button class="search-butt">Search</button>
		<h2> Linked to these recipes: </h2>
		<div class="recipe-itemized"> 
			{{ inventory.recipes.forEach(function(recipe) { }}
				<h3 class="recipe-name">{{= recipe.name }}
				<button id="{{= recipe.id }}" class="activate" style="{{ if (recipe.active == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}"> Active ?</button></h3>
			{{ }); }}
		</div>


</script>

<script type="text/template" id="each-inventory">
<div id="all-inventory-div">
	ADD ITEM HERE
		
		<div id="add_inv_form"
		<form action="user/inventories", id="new-inventory", method="POST">
		 <input name="user_id" id="user_id_select" value="{{=inventory.user_id }}" type="hidden">
		<input id="ingredient_add" type="text" placeholder="ingredient name"/> 
		<select id="group_select"> <option value="protein">Protein</option> 
		<option value="produce">Produce</option> <option value="dairy">Dairy</option> <option value="grain">Grain</option> </select> <button class="add-inv-butt">Add Item </button>
		</div>



		<a href="#inventory/{{=inventory.id}}" class="inventory-title">{{=inventory.ingredient}}</a>
		<button class="delete-butt">Delete</button>
		<button class="search-butt" class="{{=inventory.ingredient}}-{{=inventory.id}}">Search</button>
		<input type="checkbox" name="ingredients" class="checked-ingredient" value="{{= inventory.ingredient }}">
</script>

<script type="text/template" id="search-results">
	<div id="search-results-div">
		<img class="recipe-pic" src="{{= recipe.image }}">
		<h2<a href="#recipe/{{=recipe.id}}" class="recipe-title"> {{= recipe.name }}</a></h2>
		<p class="recipe-ingredients">{{=recipe.ingredients}}</p>
		<button class="save-button">Save Recipe</button>
	</div>
</script>





